<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    <h1>Admin Login</h1>

    <form th:action="@{/admin/signin}" method="post">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="email" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" required></td>
            </tr>
        </table>
    </form>

</body>
</html>